body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
}

h1 {
  text-align: center;
  color: #000;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #292929;
  text-align: left;
  padding: 8px;
}


.countryData ul {
  display: flex;
  text-align: center;
  padding: 0px;
}

.countryData ul li {
  list-style-type: none;
  border: 1px solid #292929;
  width: 32%;
}

.heading {
  padding: 10px;
  border-bottom: 1px solid #292929;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #fff;
  background-color: #000;
}

.countryName div {
  padding: 10px;
}

.countryName div:nth-child(odd) {
  background-color: #292929;
}

.countryName div:nth-child(even) {
  background-color: #5a5858;
}